.show {
  display: block;
}

.hide {
  display: none;
}

.recycler-modal {
  overflow: scroll !important;
  height: 100%;
}

.close-icon {
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  font-size: 26px;
  float: right;
  cursor: pointer;
}
